/* general */

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.header-element-camisetas {
    padding-left:2%;
    padding-right:2%;
}

.header-element-camisetas:hover {
    color:#BCDEE6;
}

li {
    list-style: none;
    display: inline;
    padding: 0px;
    margin:0px;
}

ul {
    display: inline-flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

    /* Editando... */

    a {
        color:black;
        text-decoration: none;
    }

    h1 {
        margin: 0px;
        margin-bottom: 20px;
    }

    p {
        margin-top: 2px;
    }

    button {
        background: transparent;
        border: transparent;
    }

    /* ...editando */

/* fin general */

/* Header */

.header-elements img,
.header-elements .header-menu-button {
    transition: all 0.3s ease-in-out;
}

.header-elements.scrolled img,
.header-elements.scrolled .header-menu-button {
    width: 150px;
}

.navbar-fixed-top.scrolled {
    background-color: transparent !important;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled:hover {
    background-color: white !important;
    transition: background-color 200ms linear;
}

header.scrolled .header-container {
    position: fixed;
    top: 0;
    transform: translate(-50%, 0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
    display: flex;
    align-items: center;
}

.header-container {
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    z-index: 999;
}

.header-elements {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
}
/*
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.logo-bukoni {
    max-width: 12em;
    max-height: 12em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-button-1 {
    padding: 1em 1em 0.5em 1em; /* top, right, bottom, left */
}

.dropdown-button-2 {
    padding: 0em 0em 1em 1em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-margin {
    margin-left: 0.5em;
}

.header-menu-button {
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content-container {
    padding-top: 102px;
}

/* FIN Header */

/* Body */

/*.bukoni-banner-container {
    
}*/

.prueba {
    width: 100%;
}
  
.hero-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.icon:hover {
    -webkit-animation-name: fa-bounce;
    animation-name: fa-bounce;
    -webkit-animation-delay: var(--fa-animation-delay,0s);
    animation-delay: var(--fa-animation-delay,0s);
    -webkit-animation-direction: var(--fa-animation-direction,normal);
    animation-direction: var(--fa-animation-direction,normal);
    -webkit-animation-duration: var(--fa-animation-duration,1s);
    animation-duration: var(--fa-animation-duration,1s);
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing,cubic-bezier(.28,.84,.42,1));
    animation-timing-function: var(--fa-animation-timing,cubic-bezier(.28,.84,.42,1));
}
  
.hero-text .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 0.8em 1.7em;
    color: black;
    background-color: #bcdee6cb;
    text-align: center;
    cursor: pointer;
}
  
.hero-text .button:hover {
    background-color: #BCDEE6;
    color: black;
}

.button span:after {
    content: '\00bb';
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}




/* Fin body */